{% if author.roboticsstack %}
  <li>
    <a href="https://robotics.stackexchange.com/users/{{ author.roboticsstack }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-stack-exchange" aria-hidden="true"></i><span class="label">SE Robotics</span>
    </a>
  </li>
{% endif %}

{% if author.google.scholar %}
  <li>
    <a href="http://scholar.google.com/citations?user={{ author.google.scholar }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="ai ai-fw ai-google-scholar" aria-hidden="true"></i><span class="label">Google Scholar</span>
    </a>
  </li>
{% endif %}
